html{
  background-color: #eeeeee;
}
.App {
  display: flex;
  width: 1524px ;
  overflow-x: hidden;
  height: 742px;
  background-color: #eeeeee;
  }
  
.Side1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img1.jpeg);
  width: 258px;
  position: fixed;
  height: 100%;
}
.Side2{
	background-color: #eeeeee;
  width: 1271px;
  margin-left: 258px;
  height: 100%;
}
.head{
	justify-content: flex-end;
	margin: 10px;
	display: flex;
	width: 100%;
	align-items: stretch;
	height: 50px;
}
.h1 {
    padding: 18px;
    font-size: 16px;
    width: 10%;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: grey;
}
.h2 {
    border: none;
    font-size: 16px;
    padding: 6px 1px 0px 7px;
    border-bottom: 1px solid grey;
    opacity: 0.5;
    width: 15%;
    background-color: #eeeeee;
    text-decoration: none;
}
input:focus{
  outline:none;
}
.ic {    margin-top: 9px;
    padding: 9px 15px 10px 15px;
    color: #555555;
    font-size: 13px;
    line-height: 2;
}
.lst{
	margin-right: 30px;
}
.frst{
	border-radius: 25px;
	background-color: white;
	color: #9f9f9f;
}
.blanck{
	width:56%;
}